<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.synway.dao.UploadMapper">
    <insert id="saveContentPicture" parameterType="map">
      INSERT INTO t_file(file_name,file_path,type,file_addr)
      VALUES (#{file_name},#{file_path},#{type},#{file_addr})
    </insert>
</mapper>