<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.synway.dao.UserMapper">
    <select id="selectById" resultType="com.synway.pojo.User" parameterType="int">
        select id,name,headimg,phone,email,sex,create_time,state,lrr,lrr_name,update_time
        from
         t_user
        where
         id = #{id}
    </select>

    <select id="getUserByLoginInfo" resultType="com.synway.pojo.User" parameterType="String">
        select id,name,headImg from t_user where name = #{username} and password = #{password}
    </select>

    <select id="getRoleById" resultType="com.synway.pojo.Role" parameterType="int">
        select role,permission from t_role where user_id = #{_parameter}
    </select>

    <insert id="saveUser" parameterType="Map">
        <selectKey keyProperty="userId" resultType="int" order="AFTER">
            select last_insert_id()
        </selectKey>
        insert into t_user(name,password
        <if test="headImg != null and headImg != ''">
            ,headImg
        </if>
        <if test="phone != null and phone != ''">
            ,phone
        </if>
        <if test="email != null and email != ''">
            ,email
        </if>
        )VALUES
        (#{username},#{password}
        <if test="headImg != null and headImg != ''">
            ,#{headImg}
        </if>
        <if test="phone != null and phone != ''">
            ,#{phone}
        </if>
        <if test="email != null and email != ''">
            ,#{email}
        </if>
        )
    </insert>

    <insert id="saveRole" parameterType="map">
        insert into t_role(user_id,role,permission)
        VALUES (#{userId},#{role},#{permission})
    </insert>

    <select id="listUser" parameterType="map" resultType="map">
        select id,name,phone,email,sex,date_format(create_time,'%Y-%m-%d %h:%i:%s') as create_time,
           date_format(update_time,'%Y-%m-%d %h:%i:%s') as update_time from t_user where state='0'
    </select>
</mapper>