<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.synway.dao.ViewMapper">
    <insert id="saveIntroduction" parameterType="map">
        <selectKey keyProperty="theme_id" resultType="int" order="AFTER">
            select last_insert_id()
        </selectKey>
        insert into t_theme(theme,
        <if test="themePic_Addr != null and themePic_Addr != '' ">
            theme_pic,
        </if>
        <if test="introduction != null and introduction != ''">
            introduction_content,
        </if>
        <if test="introduction_html != null and introduction_html != ''">
            introduction_html,
        </if>
        user_id,user_name)
        VALUES
        (#{theme},
        <if test="themePic_Addr != null and themePic_Addr != '' ">
            #{themePic_Addr},
        </if>
        <if test="introduction != null and introduction != ''">
            #{introduction},
        </if>
        <if test="introduction_html != null and introduction_html != ''">
            #{introduction_html},
        </if>
          #{user_id},#{user_name})
    </insert>

    <insert id="saveBackground" parameterType="map">
        <selectKey resultType="int" keyProperty="background_id" order="AFTER">
            select last_insert_id()
        </selectKey>
        insert into t_background(theme_id
        <if test="background_content != null and background_content != ''">
            ,background_content
        </if>
        <if test="background_html != null and background_html != ''">
            ,background_html
        </if>
        )
        VALUES
        (#{theme_id}
        <if test="background_content != null and background_content != ''">
            ,#{background}
        </if>
        <if test="background_html != null and background_html != ''">
            ,#{background_html}
        </if>
        )
    </insert>

    <insert id="saveData" parameterType="map">
        <selectKey keyProperty="data_id" resultType="int" order="AFTER">
            select last_insert_id()
        </selectKey>
        insert into t_data(theme_id)
        VALUES
        (#{theme_id})
    </insert>

    <insert id="saveProgram" parameterType="map">
        <selectKey keyProperty="program_id" resultType="int" order="AFTER">
            select last_insert_id()
        </selectKey>
        insert into t_program(theme_id)
        VALUES
        (#{theme_id})
    </insert>

    <insert id="saveCode" parameterType="map">
        <selectKey keyProperty="code_id" resultType="int" order="AFTER">
            select last_insert_id()
        </selectKey>
        insert into t_code(theme_id)
        VALUES
        (#{theme_id})
    </insert>

    <insert id="saveFile" parameterType="map">
        insert into t_file(
        theme_id,
        <if test="business_id != null and business_id != ''">
            business_id,
        </if>
        <if test="business_name != null and business_name != ''">
            business_name,
        </if>
        <if test="file_name != null and file_name != ''">
            file_name,
        </if>
        <if test="file_path != null and file_path != ''">
            file_path,
        </if>
        <if test="file_addr != null and file_addr != ''">
            file_addr,
        </if>
            type,position
        )
        VALUES (
        #{theme_id},
        <if test="business_id != null and business_id != ''">
            #{business_id},
        </if>
        <if test="business_name != null and business_name != ''">
            #{business_name},
        </if>
        <if test="file_name != null and file_name != ''">
            #{file_name},
        </if>
        <if test="file_path != null and file_path != ''">
            #{file_path},
        </if>
        <if test="file_addr != null and file_addr != ''">
            #{file_addr},
        </if>
            #{type},#{position}
        )
    </insert>

    <select id="listThemeData" parameterType="map" resultType="map">
        select id,theme,theme_pic,introduction_html from t_theme where is_delete = 0
    </select>

    <select id="getThemeContent" parameterType="map" resultType="map">
        select id,theme,theme_pic,introduction_html from t_theme where is_delete = 0 and id=#{theme_id}
    </select>

    <select id="getBackgroundContent" parameterType="map" resultType="map">
        select t.theme_pic,b.background_html,b.id from t_theme t left join t_background b on t.id = b.theme_id
        where is_delete = 0 and t.id=#{theme_id}
    </select>


    <select id="findAttachment" parameterType="map" resultType="map">
        select t.theme_pic, f.file_addr,f.file_name from t_theme t left join t_file f on t.id = f.theme_id
        where f.is_delete = 0 and f.theme_id = #{theme_id}
        and f.business_name= #{business_name}
    </select>

    <select id="getDataByThemeId" parameterType="String" resultType="Map">
        select t.theme_pic,t.theme,d.id from t_data d join t_theme t on t.id = d.theme_id
        where theme_id = #{theme_id}
    </select>

    <select id="getProgramByThemeId" parameterType="String" resultType="Map">
        select t.theme_pic,t.theme,d.id from t_program d join t_theme t on t.id = d.theme_id
        where theme_id = #{theme_id}
    </select>

    <select id="getCodeByThemeId" parameterType="String" resultType="Map">
        select t.theme_pic,t.theme,d.id from t_code d join t_theme t on t.id = d.theme_id
        where theme_id = #{theme_id}
    </select>

    <select id = "getAttachmentByBusinessId" parameterType="int" resultType="map">
      select file_name,file_path,file_addr,type,position from t_file where business_id = #{business_id}
        and is_delete = 0
    </select>

    <select id = "getAttachmentByBusinessIdAndType" parameterType="map" resultType="map">
        select file_name,file_path,file_addr,type,position from t_file where business_id = #{business_id}
        and is_delete = 0 and business_name = #{business_name}
    </select>


</mapper>

